@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.category {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;

    &_container {
      max-height: 368px;
      overflow: hidden;
      cursor: pointer;
      transition: box-shadow 0.5s ease-in-out;
      margin-bottom: 24px;

      @include onMobile {
        height: 288px;
      }

      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;

      &-image {
        transition: transform 0.5s ease-in-out;
        width: 100%;
        &:hover {
          transform: scale(1.1);
          border-radius: 8px;
        }
      }
    }

    &_description {
      font-family: 'Mont-SemiBold';
      font-size: 20px;
      line-height: 26px;
      color: $primary-color;
      margin-bottom: 4px;
    }

    &_quantity {
      font-family: 'Mont-Regular';
      font-size: 14px;
      line-height: 21px;
      color: $secondary-color;
    }
  }
}
