$primary-color: #0f0f11;
$secondary-color: #89939a;
$accent-color: #4219d0;
$secondary-accent-color: #f4ba47;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$background-color-grey: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;

$header-height-mobile-tablet: 48px;
$header-height-desktop: 64px;

$default-transition: 0.3s;

$grid-column-tablet: 12;
$grid-column-desktop: 24;
