@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.cart-item {
  padding: 16px;
  border: 1px solid $elements-color;
  border-radius: 16px;
  margin-bottom: 16px;

  @include onTablet {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
  }

  &__info {
    display: flex;
    align-items: center;
    @include onMobile {
      margin-bottom: 16px;
    }
  }

  &__delete {
    display: block;
    margin-right: 25px;

    min-width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url(../../assets/icons/Close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(2px);
    }

    @include onTablet {
      margin-right: 30px;
    }
  }

  &__image {
    flex-shrink: 0;
    margin-right: 25px;
    // width: 66px;
    height: 66px;

    @include onTablet {
      margin-right: 30px;
    }
  }

  &__title {
    text-align: left;
    font-family: 'Mont-Regular';
    font-size: 14px;
    font-weight: 600;
    color: $primary-color;

    @include onTablet {
      margin-right: 25px;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      flex-shrink: 0;
    }
  }

  &__button {
    &--minus {
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid $elements-color;
      border-radius: 48px;

      &_disabled {
        cursor: auto;
        border: 1px solid $elements-color;
      }

      &:hover:not(:disabled) {
        background-color: $secondary-color;
        cursor: pointer;
      }

      &:active:not(:disabled) {
        transform: translateY(2px);
        box-shadow: 0px 2px 4px $elements-color;
      }
    }

    &--plus {
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid $elements-color;
      border-radius: 48px;

      &_disabled {
        cursor: auto !important;
        border: 1px solid $elements-color;
      }

      &:hover:not(:disabled) {
        background-color: $secondary-color;
        cursor: pointer;
      }

      &:active:not(:disabled) {
        transform: translateY(2px);
        box-shadow: 0px 2px 4px $elements-color;
      }
    }
  }

  &__button-icon {
    display: block;
    width: 16px;
    height: 16px;

    &--decrease {
      background-image: url(../../assets/icons/Minus.svg);

      &_disabled {
        background-image: url(../../assets/icons/Minus-noActive.svg);
      }
    }

    &--increase {
      background-image: url(../../assets/icons/Plus.svg);

      &_disabled {
        background-image: url(../../assets/icons/Plus-noActive.png);
        background-size: 16px;
      }
    }
  }

  &__amount {
    margin: 0 15px;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    color: $primary-color;
  }

  &__price {
    margin-right: 16px;
    font-family: 'Mont-Bold';
    font-size: 22px;
    font-weight: 800;
    width: 100px;
    text-align: right;
    color: $primary-color;
  }
}
